/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General
***********************/
@media (max-width: 40em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; } }

input[type="submit"], input[type="reset"], input[type="button"], select, button {
  -webkit-appearance: none; }

html, body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  color: #333;
  background: #fff; }

body, button, input, select, textarea {
  font: normal 16px "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  line-height: 1.5; }

a {
  color: #333;
  outline: none;
  text-decoration: none; }
  a:hover {
    color: #666666; }
    a:hover > img {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  a:active {
    color: #1a1a1a; }

p {
  font-size: 16px;
  text-align: justify;
  word-break: break-all;
  margin-bottom: .5em; }

.left {
  float: left; }

.right {
  float: right; }

.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 48em) {
    .container {
      width: 750px; } }
  @media (max-width: 40em) {
    .container {
      width: 94%; } }

img {
  display: block;
  width: 100%; }

input[type="text"], input[type="number"], textarea {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  font-size: 16px;
  text-indent: .5em; }

textarea {
  height: auto;
  resize: vertical;
  overflow-y: auto; }

.btn, a.rounded-filled-btn, a.rounded-btn, a.btn, a.rounded-filled-btn, a.rounded-btn {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  background: #444965;
  cursor: pointer; }
  .btn:active, a.rounded-filled-btn:active, a.rounded-btn:active, a.btn:active, a.rounded-filled-btn:active, a.rounded-btn:active {
    background: #2f3347; }

.left {
  float: left; }

.right {
  float: right; }

@font-face {
  font-family: 'akzidenz-grotesk_bq_condensBd';
  src: url("../fonts/akzidenzgrotesk-boldcond-webfont.woff2") format("woff2"), url("../fonts/akzidenzgrotesk-boldcond-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'akzidenz-grotesk_bqregular';
  src: url("../fonts/akzidenzgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/akzidenzgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: 'akzidenz-grotesk_bqregular'; }

a.rounded-filled-btn, a.rounded-btn {
  font-weight: normal;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px; }

a.rounded-btn {
  color: #444965;
  background: transparent;
  border: 1px solid; }

.container {
  max-width: 1600px;
  min-width: 980px;
  width: 92%; }

nav {
  position: relative;
  min-width: 980px; }
  nav .logo {
    margin-left: 4%;
    height: 95px; }
    nav .logo img {
      width: 90px;
      padding-top: 12px; }
  nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top; }
  nav .main-nav {
    margin-right: 9.8em; }
    nav .main-nav > li {
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
      nav .main-nav > li > a {
        display: block;
        height: 95px;
        line-height: 95px;
        font-family: 'akzidenz-grotesk_bq_condensBd';
        color: #444965;
        font-size: 18px;
        padding: 0 1.2em; }
      nav .main-nav > li .subnav {
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        padding: 60px;
        text-align: center;
        background: rgba(247, 247, 247, 0.95);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        z-index: 99;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -ms-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out; }
        nav .main-nav > li .subnav li {
          width: 250px;
          margin: 0 3%; }
          nav .main-nav > li .subnav li a {
            display: block;
            width: 250px;
            height: 155px;
            margin-bottom: .6em;
            padding: 0;
            -webkit-transition: 0.3s ease-out;
            -moz-transition: 0.3s ease-out;
            -ms-transition: 0.3s ease-out;
            -o-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
            border: 6px solid transparent;
            overflow: hidden; }
            nav .main-nav > li .subnav li a:hover {
              border-color: #444965; }
              nav .main-nav > li .subnav li a:hover > img {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
                opacity: 1;
                filter: alpha(opacity=100);
                -webkit-transition: 0.3s ease-out;
                -moz-transition: 0.3s ease-out;
                -ms-transition: 0.3s ease-out;
                -o-transition: 0.3s ease-out;
                transition: 0.3s ease-out; }
          nav .main-nav > li .subnav li h3 {
            font-family: 'akzidenz-grotesk_bq_condensBd';
            color: #444965;
            font-size: 18px;
            text-align: left;
            margin-left: 6px; }
          nav .main-nav > li .subnav li p {
            font-size: 14px;
            text-align: left;
            margin-left: 6px;
            color: #838592; }
      nav .main-nav > li:hover {
        background: #f7f7f7; }
        nav .main-nav > li:hover .subnav {
          visibility: visible;
          height: 255px;
          opacity: 1;
          filter: alpha(opacity=100); }
  nav .searchbar {
    position: absolute;
    top: 0;
    right: 4%;
    color: #ddd;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 0; }
    nav .searchbar > a {
      display: block;
      float: left;
      width: 2em;
      height: 95px;
      line-height: 95px;
      padding: 0 1.2em;
      font-family: 'akzidenz-grotesk_bq_condensBd';
      color: #444965;
      font-size: 18px;
      color: #ddd;
      text-align: center;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
      nav .searchbar > a:hover {
        color: #ccc; }
    nav .searchbar > input {
      float: left;
      width: 0;
      height: 95px;
      line-height: 95px;
      color: #999;
      margin: 0;
      font-size: 16px;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: 0.24s ease-in-out;
      -moz-transition: 0.24s ease-in-out;
      -ms-transition: 0.24s ease-in-out;
      -o-transition: 0.24s ease-in-out;
      transition: 0.24s ease-in-out; }
    nav .searchbar.active input {
      width: 450px;
      opacity: 1;
      filter: alpha(opacity=100); }
    nav .searchbar.active, nav .searchbar:hover {
      background: #fff; }

.slider {
  position: relative;
  width: 100%;
  min-width: 980px;
  max-height: 510px;
  overflow: hidden; }
  .slider .slogan {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    left: 16%; }
    .slider .slogan h2 {
      font-family: 'akzidenz-grotesk_bq_condensBd';
      color: #444965;
      font-size: 18px;
      font-size: 60px;
      line-height: 1.1; }
    .slider .slogan p {
      font-size: 20px;
      color: #737682; }
    .slider .slogan .rounded-filled-btn {
      margin: 0;
      margin-top: 1em;
      width: 10em;
      height: 52px;
      line-height: 52px;
      font-size: 20px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .slider .slogan .rounded-filled-btn i {
        margin-left: .5em;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .slider .slogan .rounded-filled-btn:hover {
        width: 10.5em;
        background: #595f83; }
        .slider .slogan .rounded-filled-btn:hover > i {
          margin-left: 1em; }

.app {
  font-size: 0;
  text-align: center; }
  .app .col {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 30%;
    margin-top: 30px; }
    .app .col .con {
      text-align: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
      overflow: hidden; }
      .app .col .con:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }
    .app .col h3 {
      margin-top: 25px;
      font-family: 'akzidenz-grotesk_bq_condensBd';
      color: #444965;
      font-size: 18px;
      font-size: 26px; }
    .app .col span.line {
      display: block;
      width: 1.5em;
      height: 2px;
      margin: 1.3em auto;
      background: #444965;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
    .app .col p {
      width: 60%;
      margin: 1.5em auto;
      text-align: center;
      color: #838592;
      font-size: 14px; }
    .app .col .rounded-btn {
      width: 10em;
      margin: 0 auto;
      margin-bottom: 45px;
      font-size: 10px;
      border-color: #bcc0d2;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
      .app .col .rounded-btn:hover {
        border-color: #444965; }
    .app .col .pic {
      overflow: hidden; }
      .app .col .pic img {
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        -ms-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out; }
    .app .col .txt {
      position: relative;
      z-index: 1;
      font-size: 14px; }
      .app .col .txt .bg {
        position: absolute;
        top: 0;
        width: 120%;
        height: 100px;
        background: #fff;
        -webkit-transform: translate3d(-30px, -30px, 0) rotate(-5deg);
        -ms-transform: translate3d(-30px, -30px, 0) rotate(-5deg);
        -o-transform: translate3d(-30px, -30px, 0) rotate(-5deg);
        transform: translate3d(-30px, -30px, 0) rotate(-5deg);
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        z-index: -1; }
    .app .col:hover .bg {
      -webkit-transform: translate3d(-20px, -20px, 0) rotate(0deg);
      -ms-transform: translate3d(-20px, -20px, 0) rotate(0deg);
      -o-transform: translate3d(-20px, -20px, 0) rotate(0deg);
      transform: translate3d(-20px, -20px, 0) rotate(0deg); }
    .app .col:hover .pic img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    .app .col:hover span.line {
      width: 2.5em; }
  .app .col + .col {
    padding-left: 5%; }

.shoes {
  width: 100%;
  margin-top: 45px;
  padding: 60px 0;
  background: #f0f0f0; }
  .shoes h3 {
    font-family: 'akzidenz-grotesk_bq_condensBd';
    color: #444965;
    font-size: 18px;
    font-size: 40px;
    text-align: center; }
  .shoes ul {
    font-size: 0;
    text-align: center; }
  .shoes li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    position: relative;
    width: 16%;
    height: 0;
    padding-bottom: 16%;
    font-size: 14px; }
    .shoes li .mask {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 50%;
      right: 50%;
      opacity: 0;
      filter: alpha(opacity=0);
      background: #000;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
    .shoes li .title {
      margin-top: -1em; }
    .shoes li b {
      display: block;
      color: #333;
      font-weight: bold; }
      .shoes li b.prize {
        color: #838592;
        font-weight: normal; }
    .shoes li:hover .mask {
      top: -10%;
      bottom: -10%;
      left: -10%;
      right: -10%;
      opacity: 0.05;
      filter: alpha(opacity=5); }
    .shoes li a:hover img {
      opacity: 1;
      filter: alpha(opacity=100); }
  .shoes li + li {
    margin-left: 5%; }

.back-to-top {
  width: 100%;
  padding: 10px;
  color: #999;
  background: #ddd;
  font-size: 14px;
  text-align: center;
  cursor: pointer; }
  .back-to-top:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }

footer {
  background: #252525; }

.footer-nav {
  *zoom: 1;
  padding: 45px 25px; }
  .footer-nav:before, .footer-nav:after {
    content: "";
    display: table; }
  .footer-nav:after {
    clear: both; }

.sitemap h3 {
  font-family: 'akzidenz-grotesk_bq_condensBd';
  color: #444965;
  font-size: 18px;
  font-size: 16px;
  margin-bottom: .5em;
  color: #eee; }

.sitemap ul {
  float: left;
  margin-right: 45px; }

.sitemap li {
  font-size: 13px;
  margin-top: .5em; }
  .sitemap li a {
    color: #666;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
    .sitemap li a:hover {
      color: #888; }

.social h3 {
  font-family: 'akzidenz-grotesk_bq_condensBd';
  color: #444965;
  font-size: 18px;
  font-size: 16px;
  margin-bottom: .5em;
  color: #eee; }

.social li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: .5em;
  text-indent: -9999em; }
  .social li a {
    display: block;
    width: 36px;
    height: 36px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
    .social li a:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

.social .fa a {
  background: url("../img/social-icon.png") no-repeat 0 0; }

.social .go a {
  background: url("../img/social-icon.png") no-repeat -36px 0; }

.social .tu a {
  background: url("../img/social-icon.png") no-repeat -72px 0; }

.social .vi a {
  background: url("../img/social-icon.png") no-repeat -108px 0; }

.social .tw a {
  background: url("../img/social-icon.png") no-repeat -144px 0; }

.copyright {
  border-top: 1px solid #333;
  padding: 15px 25px;
  font-size: 14px;
  color: #666; }

/*# sourceMappingURL=style.css.map */